<div class="jumbotron">

    <ui-accordions>
        <ui-accordion title="Accordion1">
            Nicha has found that Thai citizens have been used as lab rats to test an antidote for a virus created by a drugs company. Nicha must find the victims before it's too
            late. She's hunted by an exec who wants to protect his company while the government wants to eliminate the subjects before the virus spreads...
            Nicha has found that Thai citizens have been used as lab rats to test an antidote for a virus created by a drugs company. Nicha must find the victims before it's too
            late. She's hunted by an exec who wants to protect his company while the government wants to eliminate the subjects before the virus spreads...
        </ui-accordion>
        <ui-accordion title="Accordion2">
            Nicha has found that Thai citizens have been used as lab rats to test an antidote for a virus created by a drugs company. Nicha must find the victims before it's too
            late. She's hunted by an exec who wants to protect his company while the government wants to eliminate the subjects before the virus spreads...
            Nicha has found that Thai citizens have been used as lab rats to test an antidote for a virus created by a drugs company. Nicha must find the victims before it's too
            late. She's hunted by an exec who wants to protect his company while the government wants to eliminate the subjects before the virus spreads...
        </ui-accordion>
        <ui-accordion title="Accordion3">
            A stream is an abstract concept that represents a sequence of objects created by a source, it’s neither a data structure nor a collection object where we can store items.
            So we can’t point to any location in the stream, we just interact with items by specifying the functions.
            A stream is an abstract concept that represents a sequence of objects created by a source, it’s neither a data structure nor a collection object where we can store items.
            So we can’t point to any location in the stream, we just interact with items by specifying the functions.
        </ui-accordion>
    </ui-accordions>

    <a class="btn btn-dark btn-block" href="#!/contatos">Contatos</a>

</div>